h1 {   
    text-align:center;
    height: 70px;
}
div {
    text-align:center;
}
body {
    background-image: url("https://us.123rf.com/450wm/1stchoice/1stchoice1904/1stchoice190400009/123656409-fondo-acuarela-rosa-claro-con-textura-suave.jpg?ver=6");
    margin: 80px;    
}
p {
    text-align:center;
}